<div *ngFor="let parcel of parcels, index as parcelId">
    <div style="display: flex; align-items: baseline">
        <h2 style="margin-right: 10px">{{parcel.name}}</h2>
        <button mat-mini-fab aria-label="remove" (click)="removeAddress(parcel.name)" >
            <mat-icon style="font-size: 18px">delete</mat-icon>
        </button>
    </div>
    <p>{{parcel.street}}, {{parcel.street_nb}} {{parcel.postboxLetter}}</p>
    <p>{{parcel.postcode}} {{parcel.city}}</p>
    <p *ngIf="parcel.email">{{parcel.email}}</p>
</div>
<button (click)="export()">
    I'm done
</button>