<table mat-table [dataSource]="currentSelection"
       class = "mat-elevation-z8"
       *ngIf="currentSelection && currentSelection.length>0"
>
    <tr mat-header-row *matHeaderRowDef="addressesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: addressesColumns;"></tr>
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let address">
            <button mat-button (click)="addressSelected(address)">{{actionLabel()}}</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let address"> {{address.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let address"> {{address.postAddressToString()}} </td>
    </ng-container>
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let address"> {{address.email}} </td>
    </ng-container>
</table>
