<form [formGroup]="searchForm" autocomplete="nofill">

    <div class="addressPartContainer">
        <label for="original_string">Full text address </label>
        <textarea rows=4 cols="50" id="original_string" type="text" formControlName="original_string" matInput
                  autocomplete="nofill">
		</textarea>
        <button class="button"
                (click)="extractAddressFromName(searchForm.value)">
            Extract address
        </button>
    </div>

    <div>
        <table mat-table [dataSource]="proposedAddresses | async" class="addressTable" >
               <!--*ngIf="(proposedAddresses | async) && (proposedAddresses | async).length >0"-->
            <tr mat-header-row *matHeaderRowDef="proposedAddressesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: proposedAddressesColumns;"></tr>
            <ng-container matColumnDef="Add">
                <th mat-header-cell *matHeaderCellDef> Add</th>
                <td mat-cell *matCellDef="let address">
                    <button (click)="addRecord(address)">
                        <mat-icon class="material-icons md-light">add</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let address"> {{address.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef> Address</th>
                <td mat-cell *matCellDef="let address">
                    <p>{{address.street}}, {{address.street_nb}} {{address.postboxLetter}}</p>
                    <p>{{address.postcode}} {{address.city}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let address">
                    <p>{{address.email}}</p>
                </td>
            </ng-container>
        </table>
    </div>

    <div class="addressPartContainer">
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name" autocomplete="nofill">
    </div>
    <div class="addressPartContainer">
        <label for="street">
            Street
        </label>
        <input id="street" type="text" formControlName="street" autocomplete="nofill">
        <label for="street_nb">
            Number
        </label>
        <input id="street_nb" cols=5 type="text" formControlName="street_nb" autocomplete="nofill">
        <label for="postbox_letter">
            Postbox
        </label>
        <input id="postbox_letter" cols="5" type="text" formControlName="postbox_letter" autocomplete="nofill">
    </div>
    <div class="addressPartContainer">
        <label for="postcode">
            Postcode
        </label>
        <input id="postcode" type="text" formControlName="postcode" autocomplete="nofill">
        <label for="city">
            City
        </label>
        <input id="city" type="text" formControlName="city" autocomplete="nofill">
    </div>
    <div class="addressPartContainer">
        <label for="email"> Email</label>
        <input id="email" type="text" formControlName="email" autocomplete="nofill">
    </div>
    <div class="addressPartContainer">
        <button class="button" type="submit" (click)="onAdd(searchForm.value)">Add</button>
    </div>
</form>